.App {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: gray;
}

h1 {
  text-align: center;
  margin-top: 10%;
}

#sum, #sub {
  width: 20%;
  height: 265px; 
}

#multip, #division, #divide {
  width: 100%;
  height: 100%;
}

input {
  width: 48%;
  height: 10%;
  border: 2px solid gray;
}

p {
  text-align: center;
}

span {
  width: 60%;
  height: 88.3px;
  float: right;
}

body {
  margin-bottom: 10%;
  background-color: brown;
}